<a href="https://colab.research.google.com/github/Naptuna/Application-Assignment/blob/master/Machine_Learning_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Libraries 
import random
import pandas as pd

In [ ]:
#Creating the arrays
Week_Days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

Room_Numbers = ["P411", "P412", "P413", "P414", "P415", "P416","P417", "P418", "P419", "P420"]

#Printing the arrays
print (Week_Days)

print (Room_Numbers)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['P411', 'P412', 'P413', 'P414', 'P415', 'P416', 'P417', 'P418', 'P419', 'P420']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'P411', 'P412', 'P413', 'P414', 'P415', 'P416', 'P417', 'P418', 'P419', 'P420']

In [ ]:
#Class Student

In [ ]:
print_table = pd.read_csv('/content/Timetable_Data/student_units.csv.csv')
print_table.head()

   ID Student Name Unitcode
0   0     Student1   CIS311
1   1     Student2   CIS312
2   2     Student3   CIS322
3   3     Student4   CIS323
4   4     Student5   CIS315